body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


P{
    background-color: blueviolet;
    border: 2PX solid black;
    padding: 20px;
    margin: 11px 5px 47px 7px; /* primer arriba, segundo derecha, tercero abajo, cuarto a la izquierda */
    width: 300px;
    border: 2px solid red;
    border-radius: 50%;
    text-align: center;
    line-height: 50%;
    




    

    
}